<main class="main-content" style="margin-top: 80px">
    <h3 class="text-center mt-5 pt-3 text-capitalize font-weight-bold">Cập nhật thông tin môn học</h3>
    {{#if subject}}
    <form class="mx-auto mt-3" action="/subject/{{subject.ID}}?_method=PUT" method="POST" style="max-width: 500px">
        <div class="form-row mb-2">
            <div class="col">
                <label for="subjectcode-input">Mã Môn Học</label>
                <input type="text" class="form-control" id="subjectcode-input" name="MaBM" value="{{subject.MaBM}}"
                    required readonly>
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col">
                <label for="name-input">Tên</label>
                <input type="text" class="form-control" id="subject-name-input" name="Ten" value="{{subject.Ten}}" required>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Cập nhật</button>
        <a href="/subject/all" class="btn btn-secondary">Hủy</a>
    </form>
    {{else}}
    <p class="text-uppercase">Không tồn tại Môn học này</p>
    {{/if}}
</main>