<main class="main-content" style="margin-top: 80px">
    <h3 class="align-center">Xin chào, đây là trang chủ Phần mềm Quản lý học sinh THPT</h3>
</main>

{{!-- {{#section 'header'}}
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand font-weight-bold " href="#">
            Quản lý học sinh THPT
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-menu"
            aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="sidebar-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="rounded nav-link text-dark dropdown-toggle" href="#" id="Student-Menu" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Học sinh
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Student-Menu">
                        <a class="dropdown-item" href="student/create">Thêm</a>
                        <a class="dropdown-item" href="student/all">Danh sách học sinh</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="rounded text-dark nav-link dropdown-toggle" href="#" id="Class-Menu" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Lớp
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Class-Menu">
                        <a class="dropdown-item" href="#">Thêm</a>
                        <a class="dropdown-item" href="#">Danh sách lớp học</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="rounded nav-link" href="#">Bảng điểm <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="rounded text-dark nav-link dropdown-toggle" href="#" id="Report-Menu" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Báo cáo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Report-Menu">
                        <a class="dropdown-item" href="#">Báo cáo môn học</a>
                        <a class="dropdown-item" href="#">Báo cáo học kì</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="rounded nav-link" href="#">Quy định <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="rounded nav-link d-md-none" href="#">Tài khoản <span class="sr-only">(current)</span></a>
                    <a class="rounded nav-link d-md-none" href="#">Đăng xuất <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <div class="nav-item dropdown d-none d-md-block">
                <a class="rounded nav-link text-dark dropdown-toggle" href="#" id="User-Menu" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="User-Menu">
                    <a class="dropdown-item" href="#">Tài khoản</a>
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
            </div>
        </div>
    </nav>
</header>
{{/section}} --}}