.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    overflow: hidden;
    background: #fafafa;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .spinner-border-lg,
  .spinner-grow-lg {
    width: 4rem;
    height: 4rem;
  }
  .spinner-border-xs,
  .spinner-grow-xs {
    width: 0.5rem;
    height: 0.5rem;
  }