<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>404 - Không thể tìm thấy trang</h2>
        </div>
        <a href="/">Về Trang Chủ</a>
    </div>
</div>