<main class="main-content" style="margin-top: 80px">
    <h3 class="text-center mt-5 pt-3 text-capitalize font-weight-bold">thêm học sinh mới</h3>
        <form id="create-student-form" class="mx-auto mt-3" action="/student/create" method="POST" style="max-width: 500px">
            <div class="form-row mb-2">
                <div class="col">
                    <label for="code-input">Mã Học Sinh</label>
                    <input type="number" class="form-control" id="code-input" name="MaSo">
                </div>
            </div>
        
            <div class="form-row mb-2">
                <div class="col">
                    <label for="name-input">Họ Tên</label>
                    <input type="text" class="form-control" id="name-input" name="HoTen">
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col-md-6">
                    <label for="birthday-input">Ngày Sinh</label>
                    <input type="date" class="form-control" id="birthday-input" name="NgaySinh" >
                </div>
                <div class="col-md-6">
                    <label for="gender-input">Giới Tính</label>
                    <select class="custom-select" id="gender-input" name="GioiTinh" >
                        <option selected disabled value="">Chọn giới tính</option>
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                    </select>
                </div>
        
            </div>
        
            <div class="form-row mb-2">
                <div class="col">
                    <label for="address-input">Địa Chỉ</label>
                    <input type="text" class="form-control" id="address-input" name="DiaChi">
                </div>
            </div>
        
            <div class="form-row mb-2">
                <div class="col">
                    <label for="email-input">Email</label>
                    <input type="email" class="form-control" id="email-input" name="Email">
                </div>
            </div>
        
            <button class="btn btn-primary" type="submit">Tạo</button>
            <a href="/student/all" class="btn btn-secondary">Hủy</a>
        </form>

</main>